<mat-card class="m-3 mat-elevation-z3 product-card">
  <mat-card-header>
    <img
      class="rounded-circle"
      mat-card-avatar
      src="../../../assets/Images/product-item.png"
      alt=""
    />
    <mat-card-title>
      <div>
        <p class="fw-normal">200gm</p>
        <p>
          ₹ 2,108
          <span class="fs-6 fw-light">
            <s> ₹ 3,108 </s>
          </span>
        </p>
      </div>
      <div>
        <p class="text-success fs-6 fw-normal">Discount 12%</p>
        <p class="fs-6 fw-normal">Available Stock 12</p>
      </div>
    </mat-card-title>
  </mat-card-header>
  <hr />
  <mat-card-content class="d-flex justify-content-between">
    <button mat-stroked-button><mat-icon>delete</mat-icon></button>
    <button class="border-start" mat-stroked-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-stroked-button><mat-icon>more_vert</mat-icon></button>
  </mat-card-content>
</mat-card>
