<mat-card class="example-card" style="margin-top: 2vh" [routerLink]="[data._id]">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <img
      mat-card-image
      src="https://zippy-ui.vercel.app/assets/images/Image-login_btpq7r.png"
      alt="photo of a food"
    />
  </mat-card-header>

  <mat-card-content>
    <h3>{{ data.shopName }}</h3>
    <!-- {{ data | json }} -->
  </mat-card-content>
  <mat-card-content class="d-flex flex-row justify-content-between">
    <div
      class="star_button w-25 d-flex justify-content-center align-items-center"
    >
      <span>
        <mat-icon class="">star </mat-icon
        >{{ data?.rating?.length == 0 ? 0 : data.rating }}</span
      >
    </div>
    <div class="d-block">
      <p>Not Zippian</p>
    </div>
  </mat-card-content>
  <br />
  <mat-card-content class="d-flex flex-row justify-content-between">
    <p class="content">
      <img
        *ngIf="data?.discountPer != 0"
        src="https://www.svgrepo.com/show/110598/discount-sticker-with-percentage.svg"
      />
      {{
        data?.discountPer == 0
          ? "No offer Applicable"
          : data?.discountPer + " " + "% off"
      }}
    </p>
    <p class="bar">|</p>
    <h5 style="color: #8f5132">Use Zippy</h5>
  </mat-card-content>

  <span><hr /></span>

  <mat-card-actions>
    <button mat-stroked-button>view</button>
  </mat-card-actions>
</mat-card>
