<form
  class="example-form"
  [formGroup]="registerForm"
  (ngSubmit)="handleRegister()"
>
  <mat-form-field class="example-full-width mb-3" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. dean@uk.com"
      required
    />
    <!-- for valid email custom check go here  -->
    <mat-error *ngIf="false"> Please enter a valid email address </mat-error>
    <mat-error *ngIf="registerForm.invalid">Email is required </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width mb-3" appearance="fill">
    <mat-label>Username</mat-label>
    <input
      type="text"
      matInput
      formControlName="userName"
      placeholder="Ex. john"
      required
    />

    <mat-error *ngIf="registerForm.invalid"> User name is required </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width mb-3" appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
    <mat-error *ngIf="registerForm.invalid"> Password is required </mat-error>
  </mat-form-field>
  <p class="refer" (click)="handleRefer()" *ngIf="isReferFieldEnable">
    Have a referral code?
  </p>
  <mat-form-field
    class="example-full-width mb-3"
    appearance="fill"
    *ngIf="!isReferFieldEnable"
  >
    <mat-label>Enter referral code </mat-label>
    <input type="password" matInput formControlName="referCode" />
  </mat-form-field>
  <button type="submit" class="btn register-btn">Register</button>
  <p class="term-condition py-2">
    By creating an account, I accept the
    <span>Terms</span>
    &
    <span>Conditions</span>
  </p>
</form>
