.app-green-bg {
  background-color: #5bc574;
  color: #fff;
}

#offcanvasExample1.offcanvas-start {
  width: 450px !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.shop-details-categories:first-child {
  color: #5bc574;
}

.first,
.shop-details-categories h6:hover {
  color: #5bc574;
  cursor: pointer;
}
.right-border {
  border-right: 2px solid #5bc574;
}
.rating {
  width: 4rem;
  height: 1.5rem;
  display: inline-block;
  background-color: #5bc574;
  color: #fff;
  border-radius: 1rem;
  padding: 0.2rem 0.3rem;
}
.product-img {
  border: 1px solid black;
  width: 80px;
  height: 80px;
}
.rating-icon {
  font-size: 1rem;
}
.rating-txt {
  position: relative;
  top: -0.2rem;
  font-size: 1rem;
}

.custom-scroll {
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bc574;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bc574;
}

#offcanvasExample1 {
  background-color: #e9ecee !important;
}
