<div class="container-fluid" >
  <div class="header">
    <h4>My Cart({{ cartProduct }})</h4>
    <p
      style="float: right; margin-top: -4vh; margin-right: 3vw; font-size: 16px"
    >
      more
    </p>
    <hr />
    <div *ngFor="let data of dummyCart" class="content">
      <div class="row d-flex" >
        <div class="col-sm-2 border border-dark">
          <img src="{{devUrl+data?.imageUrl![0]}}" />
        </div>
        <div class="col-sm-3 showDetails">
          <h5>{{ data?.productName }}</h5>
          <p>Pack of {{ data?.l?.q?.availablein }}</p>
          <h5>
            {{ data.price * data.l.orderQuantity | currency: "INR" }}
            <span style="margin-left: 1vw; font-size: 16px"
              ><del *ngIf="data?.l?.q?.discount != null">{{
                data?.l?.q?.productprice
              }}</del></span
            >
            <span
              style="margin-left: 1vw; font-size: 16px"
              *ngIf="data?.l?.q?.discount == null"
              >{{ data?.l?.q?.productprice | currency: "INR":true:"2.0" }}</span
            >
            <p
              style="margin-left: 10rem; margin-top: -2vh; color: green ; position : relative"
              *ngIf="data?.l?.q?.discount != null"
            >
              {{ data?.l?.q?.discount }}% Off
            </p>
          </h5>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="inline">
          <button
            class="counter"
            style="background-color: #efefef"
            (click)="decrementCart(data)"
            [disabled]="data?.l?.orderQuantity == 0"
          >
            -
          </button>

          <span>{{ data?.l?.orderQuantity }}</span>
          <button
            class="counter"
            style="background-color: #efefef"
            (click)="incrementCart(data)"
            [disabled] = "data?.l?.orderQuantity == 10"
            
          >
            +
          </button>

          <button mat-flat-button>BUY LATER</button>
          <button mat-flat-button (click)="openDialogBox(data)">REMOVE</button>
        </div>
      </div>
    </div>
    <hr />
    <div class="placeOrder">
      <button
        mat-raised-button
        style="
          background-color: #52b575;
          width: 16vw;
          margin-bottom: 1vh;
          position: relative;
          left: 45vw;
          font-size: 20px;
          color: white;
          padding: 0.8vh;
        "
        *ngIf="dummyCart?.length != 0"
      >
        PLACE ORDER
      </button>
    </div>
  </div>
  <div class="allDetails">
    <app-billing-details
      [price]="finalValue"
      [discount]="discountvalue"
      [cartProduct]="cartProduct"
      [sellingPrice]=" finalSellingPrice"
      [total]="total"
      [delieveryCharges]="delieveryCharges"
      *ngIf="dummyCart?.length != 0"
    ></app-billing-details>
  </div>
</div>
