<div class="w-100">
  <mat-card class="mat-elevation-z3">
    <mat-card-title> Billing Details </mat-card-title>
    <hr />
    <mat-card-content>
      <ul class="list-group">
        <li class="list-group-item border border-0">
          Price <span class="float-end">()</span>
        </li>
        <li class="list-group-item border border-0">
          Discount <span class="float-end">()</span>
        </li>
        <li class="list-group-item border border-0">
          Selling Price <span class="float-end">()</span>
        </li>
        <li class="list-group-item border border-0">
          <span> Delivery Charges </span>
          <span class="float-end">₹ 1</span>
        </li>
        <hr />
        <li class="list-group-item border border-0">
          <strong> Total Amount <span class="float-end">Nil</span> </strong>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
