<div class="container-fluid w-50">
  <div class="d-flex flex-column justify-content-center">
    <form [formGroup]="addressForm" (ngSubmit)="handleSaveClick()">
      <h5 class="text-success">Add a new address</h5>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label> Full Name </mat-label>
            <input
              formControlName="name"
              matInput
              type="text"
              name="name"
              id=""
              placeholder="Enter your full name"
            />
            <mat-error>Enter a valid full name</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label> Contact Number </mat-label>
            <input
              formControlName="mobileNumber"
              matInput
              type="number"
              name="mobileNumber"
              id=""
              placeholder="Enter your number"
            />
            <mat-error>Enter a valid contact number</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Address(Area and Street)</mat-label>
            <textarea
              formControlName="address"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              cols="30"
              rows="10"
            ></textarea>
            <mat-error>Enter a valid address</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Pincode </mat-label>
            <input
              formControlName="postalCode"
              matInput
              type="number"
              name="pincode"
              id=""
            />
            <mat-error>Enter a valid Pincode</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label> Select State</mat-label>
            <input
              formControlName="state"
              matInput
              type="text"
              name="selectState"
              id=""
            />
            <mat-error>Enter a valid state </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>City/District/Town </mat-label>
            <input
              formControlName="city"
              matInput
              type="text"
              name="city"
              id=""
            />
            <mat-error>Enter a valid city/district/town</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label> Locality</mat-label>
            <input
              formControlName="locality"
              matInput
              type="text"
              name="Locality"
              id=""
            />
            <mat-error>Enter a valid locality</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Landmark(optional) </mat-label>
            <input
              formControlName="landmark"
              matInput
              type="text"
              name="landmark"
              id=""
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label> Alternate Phone(optional) </mat-label>
            <input
              formControlName="alternateNumber"
              matInput
              type="text"
              name="alternatePhone"
              id=""
            />
          </mat-form-field>
        </div>
      </div>
      <!-- (click)="handleSaveClick()" -->
      <button class="btn btn-success px-5 mx-3" type="submit">Save</button>
      <button
        (click)="router.navigate(['checkout'])"
        class="btn btn-success px-5 mx-3"
        type="button"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
