<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Product name</mat-panel-title>
        <mat-panel-description
          >Product description: 100gm 200gm
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="product-cards d-flex justify-content-center">
        <app-product-item-card></app-product-item-card>
      </div>
      <div
        class="accordion-actions"
        class="w-100 d-flex flex-row justify-content-between"
      >
        <button class="sell" mat-stroked-button color="primary">
          Start Selling
        </button>
        <div>
          <button class="m-1" mat-stroked-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="m-1" mat-stroked-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="m-1" mat-stroked-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
