 <div><h3 class="allDetails">Billing details</h3></div>
      <hr>
      <div class="details"><h5>Price({{cartProduct}})<span>{{price | currency: 'INR' :true:'2.0'}}</span></h5></div><br>
      <div class="details"><h5>Discount <span style="color: green;">-{{discount | currency : 'INR' }}</span></h5></div><br>
      <div class="details"><h5>Selling Price <span>{{sellingPrice | currency : 'INR' :true:'1.0'}}</span></h5></div><br>
      <div class="details"><h5>Delievery Charges  <span>{{  delieveryCharges  | currency : 'INR':true:'1.0'}}</span></h5></div><br>
      <hr>
      <div class="details"><h5>Total  <span>{{  total | currency : 'INR' :true:'2.0'}}</span></h5></div><br>