<nav
  id="headerNavbar"
  class="navbar navbar-expand-lg navbar-light bg-light sticky-top"
  [ngClass]="hideNavbar ? 'd-none' : 'd-block'"
>
  <div class="container-fluid">
    <a class="ms-3 navbar-brand" routerLink="/shop">
      <img
        src="../../../assets/zippyfullicon.png"
        alt="Zippy Icon"
        height="60px"
        width="180px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex justify-content-end">
        <li class="mx-2 nav-item">
          <a class="link nav-link d-flex align-items-center" href="#">
            <mat-icon class="mx-1">search</mat-icon>
            Search</a
          >
        </li>
        <li class="mx-2 nav-item">
          <a class="nav-link d-flex align-items-center" href="#">
            <mat-icon class="mx-1">local_offer</mat-icon>
            Offer</a
          >
        </li>
        <li class="mx-2 nav-item" *ngIf="!auth.isLogin">
          <a
            data-bs-toggle="offcanvas"
            href="#offcanvasExample"
            role="button"
            class="nav-link d-flex align-items-center"
            aria-controls="offcanvasExample"
          >
            <mat-icon class="mx-1">person</mat-icon>
            Signin</a
          >
        </li>
        <li class="mx-2 nav-item dropdown" *ngIf="auth.isLogin">
          <a
            href="#"
            class="nav-link d-flex align-items-center"
            data-bs-toggle="dropdown"
          >
            <mat-icon class="mx-1 dropdownicon">person</mat-icon>

            {{ auth.userDetails.email }}</a
          >
          <p></p>
          <div class="user dropdown-menu">
            <li>
              <a href="#" class="dropdown-item">Profile</a>
            </li>
            <li>
              <button
                type="button"
                class="btn dropdown-item"
                (click)="handleLogout()"
              >
                Logout
              </button>
            </li>
          </div>
        </li>

        <li class="mx-2 nav-item">
          <a class="nav-link d-flex align-items-center position-relative">
            <mat-icon class="mx-1">local_mall</mat-icon>
            Cart
            <span
              class="mt-2 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
            >
              0
            </span></a
          >
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-end">
        <li class="mx-2 nav-item dropdown">
          <a
            href="#"
            class="nav-link d-flex align-items-center"
            data-bs-toggle="dropdown"
          >
            <mat-icon class="mx-1 dropdownicon">expand_more</mat-icon>
            More</a
          >
          <div class="dropdown-menu dropdown-menu-end">
            <li>
              <a href="#" class="dropdown-item">Be a member of zippy</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Chat</a>
            </li>
            <li>
              <a href="#" class="dropdown-item">Help</a>
            </li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
