<div id="svgBg" class="svgBackground w-100 h-75"></div>
<nav id="landingNavbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <p class="pt-3 text-center ms-3 navbar-brand" href="#">
      0 restaurants found near you
    </p>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavLanding"
      aria-controls="navbarNavLanding"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavLanding">
      <ul class="navbar-nav w-100 d-flex justify-content-end">
        <li class="mx-2 nav-item">
          <a class="link nav-link d-flex align-items-center" href="#">
            <mat-icon class="mx-1">business</mat-icon>
            Relevance</a
          >
        </li>
        <li class="mx-2 nav-item">
          <a class="nav-link d-flex align-items-center" href="#">
            <mat-icon class="mx-1">attach_money</mat-icon>
            Cost for two</a
          >
        </li>
        <li class="mx-2 nav-item">
          <a
            class="nav-link d-flex align-items-center"
            aria-controls="offcanvasExample"
          >
            <mat-icon class="mx-1">motorcycle</mat-icon>
            Delivery Time</a
          >
        </li>
        <li class="mx-2 nav-item">
          <a class="nav-link d-flex align-items-center position-relative">
            <mat-icon class="mx-1">feedback</mat-icon>
            Rating
          </a>
        </li>
        <li class="mx-2 nav-item">
          <a class="nav-link d-flex align-items-center position-relative">
            <mat-icon class="mx-1">filter_list</mat-icon>
            Filters
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- TODO: To be removed after cards are added! -->

<div class="container-fluid dummy-text mt-5">
  <h1 class="text-center m-5">Dummy Text</h1>
  <h3 routerLink="/shop/607537ac0f87c626c9b3641c">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque
    consequatur veritatis eum repudiandae iusto aperiam ab. Minima
    necessitatibus facilis incidunt deserunt sed assumenda nostrum sunt. Sunt
    eligendi temporibus quia.
  </h3>
  <hr />
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque
    consequatur veritatis eum repudiandae iusto aperiam ab. Minima
    necessitatibus facilis incidunt deserunt sed assumenda nostrum sunt. Sunt
    eligendi temporibus quia.
  </h3>
  <hr />
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque
    consequatur veritatis eum repudiandae iusto aperiam ab. Minima
    necessitatibus facilis incidunt deserunt sed assumenda nostrum sunt. Sunt
    eligendi temporibus quia.
  </h3>
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque
    consequatur veritatis eum repudiandae iusto aperiam ab. Minima
    necessitatibus facilis incidunt deserunt sed assumenda nostrum sunt. Sunt
    eligendi temporibus quia.
  </h3>
  <hr />
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque
    consequatur veritatis eum repudiandae iusto aperiam ab. Minima
    necessitatibus facilis incidunt deserunt sed assumenda nostrum sunt. Sunt
    eligendi temporibus quia.
  </h3>
  <hr />
  <h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia neque
    consequatur veritatis eum repudiandae iusto aperiam ab. Minima
    necessitatibus facilis incidunt deserunt sed assumenda nostrum sunt. Sunt
    eligendi temporibus quia.
  </h3>
</div>
