<mat-toolbar class="header">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
  <span class="mx-3 items" (click) = "getItemStatus('all')" >All Orders</span>
  <span class="mx-3 items" (click) = "getItemStatus('Delievered')">Delievered</span>
  <span class="mx-3 items" (click) = "getItemStatus('In Progress')">Inprogress</span>
  <span class="mx-3 items" (click) = "getItemStatus('pending')">Pending</span>
  <span class="mx-3 items" (click) = "getItemStatus('Cancelled')">Cancelled</span>
</mat-toolbar>
<hr />
<div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z0 demo-table"
    style="background-color: #ffffff"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="Orderid">
      <th mat-header-cell *matHeaderCellDef>Order id</th>
      <td mat-cell *matCellDef="let element">{{ element.Orderid }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
    </ng-container>

    <ng-container matColumnDef="Orderitem">
      <th mat-header-cell *matHeaderCellDef>Order item's</th>
      <td mat-cell *matCellDef="let element">{{ element.orderitem }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef>Order Date</th>
      <td mat-cell *matCellDef="let element">{{ element.OrderDate }}</td>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.Status }}</td>
    </ng-container>

    <ng-container matColumnDef="Payment">
      <th mat-header-cell *matHeaderCellDef>Payment</th>
      <td mat-cell *matCellDef="let element">{{ element.Payment }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary">Details</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
